@import "tailwindcss";
@import "../node_modules/@skeletonlabs/skeleton/src/themes/modern.css";
@import "../node_modules/@skeletonlabs/skeleton/src/index.css";

html, body {
  margin: 0;
  height: 100%;
}

body {
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
